{% extends "splash_page/base.html" %}
{% load bootstrap3 %}
{% load static %}


{% block content %}

 <!-- First Container -->
<div id="services" class="container-fluid bg-3 text-center"> 
  <h2 class="margin font-color-grey">Simple Web Apps</h2>  <!--
  <img src="bird.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350"> -->
  <p>We build low-touch web applications from scratch to power your customer facing site or your backend operations. 
  </p>
  <p>
    &nbsp;
  </p>
  	<p class="font-color-grey">
  		We build simple web apps to increase your
  		<span class="font-color-orange"> 
  			conversions.
  		</span>
  	</p>
  <img src="{% static 'sixty_mill/testphoto2.png' %}" alt="test image 2"
  class="img-responsive">
</div>

<!-- Second Container -->
<div id="philosophy" class="container-fluid bg-grey text-center">
  <h2 class="margin font-color-white">Simple Philosophy</h2>
  	<p>
  		Does it take 9 clicks for your operations associate to send an email? 
  	</p>
  	<p>
  		We believe that people perform better when touches are minimized, the next steps are clear, and processing is fast. We get to the root problems and 
  		solve them by creating simple web applications for your operational needs. 
  	</p>
  	<p>
  	&nbsp;
  </p>
  	<p class="font-color-white">
  		We practice a simple philosophy to reduce your 
  		<span class="font-color-orange"> 
  			cost.
  		</span> 
  	</p>
  	<img src="{% static 'sixty_mill/testphoto1.png' %}" alt="test image 1"
  class="img-responsive">
</div>

<!-- Second Container -->
<div id="pricing" class="container-fluid bg-1 text-center">
  <h2 class="margin font-color-grey">Simple Pricing</h2>
  <p>
  	Like our apps, we're straight forward.
  </p>
  <p> 
  	Tell us the operational issues your business is facing and we will provide a simple solution at a simple price.
  </p>
  <p>
  	&nbsp;
  </p>
  <p class="font-color-grey">
  	We keep it simple so you can focus on 
  	<span class="font-color-orange"> 
  		growth.
  	</span>  
  </p>
    <img src="{% static 'sixty_mill/testphoto3.png' %}" alt="test image 3"
  class="img-responsive">
</div>


<!-- Container (Services Section)
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"></span>
      <h4>POWER</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"></span>
      <h4>JOB DONE</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">HARD WORK</h4>
      <p>Lorem ipsum dolor sit amet..</p>
    </div>
  </div>
</div>

-->



{% endblock content %}